/*
  BEM BLOCK .c-nav-menu
 */

.c-nav-menu {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-nav-menu--
 */

.c-nav-menu-- {
  &primary {
    @include act-font-size($inuit-font-size-h6, 1.3);
    text-transform: uppercase;
    display: none;
    @include mq($from : desktop){
      display: block;
    }
    //justify-content: center;
  }
  &english-menu{
    display: none;
    @include mq($from : desktop){
      display: block;
    }
  }
  &media{
    display: flex;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu--] {
  @extend .c-nav-menu;
}

/*
  BEM ELEMENTS .c-nav-menu__
 */

.c-nav-menu__ {
  &heading{
    display: block;
  }
  &title{
    display: inline;
  }
  &list{
    @extend .o-list-bare;
    margin-bottom: 0;
    align-items: center;
  }
  &item{
    position: relative;
    padding-left:0;
  }
  &link{
    text-decoration: none;
    @include act-font-size($inuit-font-size-h5,1);
    display: block;
  }
  &sub-menu{
    position: absolute;
    left: -99999px;
    display: none;
    top: 100%;
    margin-left: 0;
    z-index: 999;
    background: darken($brand-col-1, 5%);
    padding: $act-unit-t;
    .menu-item-has-children:hover &{
      left: 0;
      display: block;
    }
  }

  &list-sub-menu{
    @extend .o-list-bare ;
    margin: 0;
  }
  &item-sub-menu{
    margin-bottom: $act-unit-s;
    padding-left: 0 !important;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &item-sub-link{
    padding: $act-unit-t;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__list--

[class*=c-nav-menu__list--] {
  @extend .c-nav-menu__list;
}

.c-nav-menu__list--{
  &primary{
    @extend .o-list-flex--center;
    justify-content: center;
  }
  &top-nav{
    @extend .o-list-flex--center;
    justify-content: center;
  }
  &contact{
    @extend .o-list-flex--center;
  }
  &english-menu, &menu-1{
    @extend .o-list-flex--center;
    justify-content: center;
  }
  &media{
    @extend .o-list-flex;
  }
  //&menu-1{
  //  @extend .o-list-flex--center;
  //  justify-content: center;
  //
  //}
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item--] {
  @extend .c-nav-menu__item !optional;
}

.c-nav-menu__item--{
  &primary{
    margin-right: $act-unit;
    margin-left: $act-unit;
  }
  &english-menu, &menu-1{
    border-right:solid 1px $brand-col-2;
    margin: 0;
  }
  &menu-footer, &footer-menu-german{
    margin-bottom: $act-unit-t;
    border-bottom:solid 1px white;

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__heading--

[class*=c-nav-menu__heading--] {
  @extend .c-nav-menu__heading !optional;
}

.c-nav-menu__heading--{
  &media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__link--

[class*=c-nav-menu__title--] {
  @extend .c-nav-menu__ !optional;
}

.c-nav-menu__title--{
  &media{
    display: block;
    text-transform: uppercase;
    color: $brand-col-3;
    &:after{
      content: ':';
      margin-right: $act-unit;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item-sub-menu--] {
  @extend .c-nav-menu__item-sub-menu !optional;
}





//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__link--

[class*=c-nav-menu__link--] {
  @extend .c-nav-menu__link !optional;
}

.c-nav-menu__link--{
  &primary{
    padding:$act-unit-t / 2;
    padding-bottom:$act-unit-s ;
    display: block;
    color: white;
    &:hover{
      color: white;
      border-bottom: solid 1px $col-accent;
      padding-bottom: $act-unit-s - 1px;
    }

  }
  &english-menu, &menu-1{
    color: $brand-col-2;
    padding: $act-unit-s $act-unit;
    &:hover{
      color: white;
      background: $brand-col-3;
    }
    .current-menu-item &{
      color: white;
      background: $brand-col-3;
    }
  }
  &top-nav, &contact{
    @include act-font-size($inuit-font-size-small, 1);
    color: white;
    &:hover{
      color: $brand-col-3;
    }
  }
  &mobile{
    padding:$act-unit-s;
    display: block;
    color: white;
    background-color: darken($brand-col-3, 15%);
    margin-bottom: 0;
    &:hover{
      color: white;
      background-color: darken($brand-col-3, 20%);
    }
    &:focus{
      color: white;
      background-color: darken($brand-col-3, 20%);
    }
  }
  &menu-footer, &footer-menu-german{
    padding: $act-unit-t 0
  }
  &media{
    padding: $act-unit-s;
    background: $brand-col-3;
    color: #fff;
    font-weight: 700;
  }
}

//BEM ELEMENT CONTEXT .c-nav-menu--primary

.c-nav-menu--primary{
  .mobile-nav-widgets &{
    display: block;
  }
}
.c-nav-menu__list{
  .mobile-nav-widgets &{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .is-flex-menu &{
    display: flex;
  }
}
.c-nav-menu__item{
  .mobile-nav-widgets &{
    margin-left:0;
    margin-right: 0;
    margin-bottom:$inuit-global-spacing-unit;
  }
}


//BEM ELEMENT ATTRIBUTES .is- .has-
.c-nav-menu__list{
  .is-six-item-split &{
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto auto;

    .c-nav-menu__item--primary:nth-child(4){
      grid-column-start: 5;
    }
  }
  .is-flex-centered &{
    justify-content: center;
  }
  .is-flex-start &{
    justify-content: flex-start;
  }
  .is-flex-end &{
    justify-content: flex-end;
  }
}

.c-nav-menu__item{
  &.is-disc-icon{
    margin: 0 $act-unit-t;
  }
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
}

.c-nav-menu__link{
  .sub-menu &{
    @include act-font-size($inuit-font-size-h6, 1);
    padding: $act-unit-t;
    white-space: nowrap;
  }
}

c-nav-menu__list--menu-1{
  //display:none;
}
