/*
  BEM BLOCK .subsidiary
 */

.subsidiary {
  @extend .c-site-wrapper--responsive;
  background: $cmt-blue-light;
  color: white;
  @include act-font-size($inuit-font-size-h5,1.2);
  a{
    color: white;
    &:hover{
      color:darken($brand-col-3,30%) !important;
    }
  }
}

/*
  BEM BLOCK MODIFIER .subsidiary--
 */

.subsidiary-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .subsidiary--

[class*=subsidiary--] {
  @extend .subsidiary;
}

/*
  BEM ELEMENTS .subsidiary__
 */

.subsidiary__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .subsidiary--

[class*=subsidiary__header--] {
  @extend .subsidiary__header;
}