{% extends "base.twig" %}

{% block before_head %}
  <!-- home.twig -->
{% endblock %}

{% block hero%}
  <!-- HERO REMOVED -->
{% endblock %}

{% block before_main %}
  <div class="site__before-main">
    <div class="before-main">
      <div class="before-main__banner-image">
        <div class="c-banner-image">
          <img src="{{ bannerImgPage.url }}" alt="{{ bannerImgPage.alt }}" class="c-banner-image__img">
        </div>
      </div>
      <div class="before-main__nav-menu">
        {% set menuName = "categories" %}
        {% set menuTitle = "Filter" %}
        {% include 'inc/navigation.twig' %}
      </div>
    </div>
  </div>


{% endblock %}

{% block content %}

  {% for post in posts %}
    {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
    {% include 'content/content'~postFormat~'.twig' %}
  {% endfor %}

{% endblock %}


{% block belowContent %}
  <div class="content__below">
    {% if posts.pagination.pages is not empty %}
      <div class="content__pagination">
        {% include 'inc/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
      </div>
    {% endif %}
  </div>
  <!-- removed comments in home.twig -->
{% endblock %}

{% set hasSideBar = false %}

{% block sidebar %}
  <!-- removed comments in
  <div class="c-main__sidebar">
    <div class="c-main__sidebar-widgets">
      <div class="sidebar-widgets" >
        {{ sidebar_widgets }}
      </div>
    </div>
  </div>
  -->
{% endblock %}
