//text-align
.u-tac,.u-ta-c{
  text-align: center !important;
}
.u-tal, .u-ta-l{
  text-align: left !important;
}
.u-tar, .u-ta-r{
   text-align: right !important;
 }
.u-taj, .u-ta-j{
  text-align: justify !important;
}



//text-transform
.u-ttu, u-tt-u{
   text-transform: uppercase !important;
 }
.u-ttl, .u-tt-l{
  text-transform: lowercase !important;
}
.u-ttc, .u-tt-c{
  text-transform: capitalize !important;
}

